body {
    font-family: 200px;
    background: white;
    color: black;
    text-align: center; 
  }
  div{
      border-radius: 10%;
      border: 30px outset skyblue;
      padding: 50px;
      margin: 20px;
      overflow: hidden;
      
  }
  img {
      border-radius: 100%;
      border: 5px solid powderblue;
  }
  .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
  }
  table, tr, td, th{
    
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr, td, th{
    padding: 5px;
  }
  th{
    color:yellow;
  }
  .center{
      margin-left: auto;
      margin-right: auto;
  }
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
  
  